*{
  background-color: rgba(140, 196, 97, 1);
}
#title{
  box-sizing: border-box;
  border:2px solid white;
  border-radius: 0.7rem;
  width: 60vw;
  margin-top: 2rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  
}
#title .names{
  box-sizing: border-box;
 
  width: 60%;
  
}
#title .names div{
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  color: rgba(255, 255, 255, 1);
  transition: all 0.5s ease-in 0s;
}
#title .names .ro:hover{
  font-size: 2.5rem;
}
#title .names .pap:hover{
  font-size: 2.5rem;
}
#title .names .sci:hover{
  font-size: 2.5rem;
}


#title .score{
  box-sizing: border-box;
 border:2px solid white;
 min-width: 17%;
 background-color: rgba(255, 255, 255, 1);
 border-radius: 0.5rem;
 display: flex;
 flex-direction:column;
 align-items: center;
 color:rgba(37, 37, 37, 1);
 transition: all 0.5s ease-in 0s;
 
}
#title .score:hover{
  transform: scale(1.1,1.1);
}

#title .score div{
  background-color: inherit;
 
  
}
#title .score .num{
  font-family: "Roboto", sans-serif;
  font-size: 4rem;
  font-weight: 700;
}
#title .score .player{
  letter-spacing: 0.1rem;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: rgba(101, 101, 101, 1);
}
#title .score .player1{
  letter-spacing: 0.1rem;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: rgba(101, 101, 101, 1);
}
#outer{
  box-sizing: border-box;
  height: 97vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  
  

}


.triangle-down {

	width: 0px;
	height: 0px;
   
position: absolute;
    border-right:10rem solid transparent;
    
    border-left:10rem solid transparent;
    border-top:12.5rem solid rgba(0, 0, 0, 0.64);
     
    
}
.triangle-down:before {
content: "";
	width: 0px;
	height: 0px;
    position:absolute;

    border-right:7.68rem solid transparent;
    
    border-left:7.68rem solid transparent;
    border-top:10rem solid rgb(140, 196, 97, 1);
    top:-11.56rem;
    left:-7.68rem;
    
}

#selection{
box-sizing: border-box;
position: relative;
width: 60vw;
height: 60vh;
border-radius: 0.7rem;
display: flex;
justify-content: center;
align-items: center;

margin-top:2rem;
margin-bottom: 2rem;
padding-bottom: 2rem;




}
#outer #rock{
  height: 7.81rem;
  width: 7.81rem;
  border-radius: 10rem;
top:-5rem;
left:1rem;
  
  position:relative;
  background-color: rgba(0, 116, 182, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.5s ease-in 0s;
}
#outer #selection #rock:hover{
  height: 8.5rem;
  width: 8.5rem;
}

#outer #rock #rock_inner{
  height: 6.1rem;
  width: 6.1rem;
  
  border-radius: 10rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
 
  
}
#outer #rock #rock_inner img{
  background-color: inherit;
  height: 60%;
  width: 60%;
}
#outer #scissors{
  height: 7.81rem;
  width: 7.81rem;
  border-radius: 10rem;

  position:relative;
  top:-5rem;
  right: -6.5rem;
  background-color: rgba(189, 0, 255, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.5s ease-in 0s;
}
#outer #selection #scissors:hover{
  height: 8.5rem;
  width: 8.5rem;
}

#outer #scissors #scissors_inner
{
  height: 6.1rem;
  width: 6.1rem;

  border-radius: 10rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;

}
#outer #scissors #scissors_inner img{
  background-color: inherit;
  height: 50%;
  width: 50%;
}

#outer #paper{
  height: 7.81rem;
  width: 7.81rem;
  border-radius: 10rem;
  cursor: pointer;
  position:relative;
bottom:-6rem;
right: 8rem;
  
  background-color: rgba(255, 169, 67, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in 0s;

}
#outer #selection #paper:hover{
  height: 8.5rem;
  width: 8.5rem;
}

#outer #paper #paper_inner
{
  height: 6.1rem;
  width: 6.1rem;
 
  border-radius: 10rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;

}
#outer #paper #paper_inner img{
  background-color: inherit;
  height: 60%;
  width: 60%;
}
#outer button{
position: absolute;
bottom:1rem;
right:1rem;
  border: 0.15rem solid rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 1.3rem;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  width:7rem;
  height: 3rem;
  border-radius: 0.5rem;
  letter-spacing: 0.2rem;
  cursor: pointer;
  transition: all 0.5s ease-in 0s;

}
#outer button:hover{
transform: scale(1.1,1.1);
}
#outer .rules{
  position: fixed;
  right:-350px; 
  
}

#outer .move{
  height: 20rem;
  width: 20rem;
 
  position:absolute;
  bottom:5rem;
  right:3rem;
 
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 1); 
}
#outer .rules #rules_inner{
  padding: 0.3rem;
  box-sizing: border-box;
  height: 19rem;
  width: 19rem;
  position: absolute;
  left:0.59rem;
  top:0.59rem;
  border-radius: 0.5rem;
  background-color: rgba(0, 68, 41, 1);
 
  
}
#outer .rules #rules_inner div{
  background-color: inherit;
  color:rgba(255, 255, 255, 1);
 text-align: center;
 font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.2rem;
  font-size: 1.81rem;
  margin-top:1.5rem;
}
#outer .rules #rules_inner ul {

  background-color: inherit;
  margin:0.4rem;
  padding: 1.5rem;
  height: 50%;
  
}
#outer .rules #rules_inner ul span{
  background-color: inherit;
  color:rgba(255, 255, 255, 1);
  font-size: 0.9rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.2rem;
}
#outer .rules #rules_inner ul li {
  background-color: inherit;
  color: rgba(255, 214, 0, 1);
}

#outer .del{
  position: fixed;
  right:-350px; 
}
#outer .move1{
  height: 3.5rem;
  width: 3.5rem;
  
  position:absolute; 
  right: 1.5rem;
  bottom:23rem;
  border-radius: 3rem;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}


#outer .del_inner{
  height: 3rem;
  width: 3rem;
 
  border-radius: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Dangrek", sans-serif;
  font-size: 3rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 0, 0, 1);
  cursor: pointer;

}
/* 
@media screen and (max-width:412px) {
  html{
    font-size: 13px;
  }
  #outer{
    margin-top: 1rem;
    height: 85vh;
    
  }
  #title{
    width: 95%;
    height: 40%;
    flex-direction: column;
    
  }
  #title .names{
    display: flex;
    justify-content: space-between;
    width: 100%;
   
  }
  #title .score{
    align-self: center;
   width: 50%;
  }
  #selection {
    
    width: 90%;
    height: 40%;
    
    
  }
  #outer .move{
    right: 1rem;
    bottom:5rem;
  }
  #outer .move1{
    right: 0.5rem;
    bottom:22rem;
  }

} */  /*Desktops and Laptops 1024x768 pixels or higher*/
@media screen and (max-width:1080px) {
  html{
    font-size: 14px;
  }
}
@media screen and (max-width:948px) {
  html{
    font-size: 12px;
  }
}
@media screen and (max-width:936px) {
  html{
    font-size: 10px;
  }
}
@media screen and (max-width:748px) {
  html{
    font-size: 8px;
  }
}

/*full hd*/
@media screen and (width:1920px )and (height:1080px) {

  html{
    font-size: 20px;
    
  }
}
/*4K resolution*/
@media screen and (width:3840px )and (height:2160px) {

  html{
    font-size: 45px;
    
  }
}
@media screen and (width:4096px )and (height:2160px) {

  html{
    font-size: 50px;
    
  }
}
/*8K resolution*/
@media screen and (width:7680px )and (height:4320px) {

  html{
    font-size: 90px;
    
  }
}
/*WXGA SCREENS*/
@media screen and (width:1600px )and (height:900px) {

  html{
    font-size: 24px;
    
  }
}
/*WXGA + SCREENS*/
@media screen and (width:1440px )and (height:900px) {

  html{
    font-size: 22px;
    
  }
}
/*QHD*/
@media screen and (width:2560px )and (height:1440px) {

  html{
    font-size: 30px;
    
  }
}